.activeParty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 1000px;
    position: absolute;
    bottom: 10px;
    z-index: 3;
    margin-top: 20px;
}

.partySlot {
    height: 144px;
    width: 144px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    border: 8px rgba(255, 255, 255, 0.5) solid;
    display: flex;
    justify-content: center;
    align-items: stretch;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.partySlot div {
    position: relative;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
}

.partySlot:hover {
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.5);
}

.spriteToggle {
    position: absolute;
    top: -40px;
    left: 180px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: gray;
    transition: 0.2s ease-in-out;
}

.spriteToggle:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}