/* full screen */
.fullscreenContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Or absolute, depending on layout */
    background-color: #282c34;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3; /* To ensure it's above other content */
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1000ms ease-in-out;
  }
  
  .fullscreenContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4); /* This creates a light overlay */
    z-index: -1;
  }
  
  .fullscreen {
    width: 46%;
    height: 58%;
    transform: translateX(-2px);
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid;
    margin: 0;
    position: absolute;
    z-index: 1;
  }