.modal {
    max-width: 800px;
    min-width: 600px;
    min-height: 400px;
    overflow-y: scroll;
}

.gameList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .modal {
        max-width: 100%;
        min-width: 0;
        min-height: 0;
    }
    .gameList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;
    }
    .modalHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .gameCardContainer {
        width: 100%;
    }
    .gameCard {
        padding: 0;
    }
}

.gameCardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameCard {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    height: 200px;
    padding: 1rem;
    width: 100%;
}

.gameCardBackground:hover {
    opacity: 1;
}

.gameCardContent:hover {
    background: rgba(0, 0, 0, 0) 0%;
}

.gameCardBackground {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.gameCardContent {
    border: 2px dashed var(--border-color);
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 200px;  /* Fixed height */
    width: 100%;
}

.gameCardTitle {
    margin-top: 1rem;
}

.gameCard button {
    padding: 0.25rem;
    min-width: auto;
}
