/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.85);
}

.modal-content {
  border-radius: 16px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  min-width: 320px;
  max-width: 90%;
}

.modal-content>h2 {
  font-size: 36px;
  font-weight: 200;
  margin-top: 1em;
  text-align: center;
}

.modal-content>h3 {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 2em;
}

.modal .close-modal {
  position: absolute;
  right: 8px;
  top: 0;
  cursor: pointer;
  font-size: 28px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .close-modal:hover {
  opacity: 0.9;
}

.modal .modal-content label {
  padding: 5px;
}

.modal-options-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-options-buttons button {
  font-size: 20px;
  width: 160px;
  height: 40px;
  border-radius: 8px;
}

.modal-options-buttons button:hover {
  cursor: pointer;
}