:root {
  --normal: rgb(218, 207, 192);
  --fighting: rgb(198, 169, 130);
  --flying: rgb(214, 187, 187);
  --poison: rgb(162, 137, 162);
  --ground: rgb(205, 168, 120);
  --rock: rgb(157, 139, 139);
  --bug: rgb(180, 233, 180);
  --ghost: rgb(159, 158, 158);
  --fire: rgb(255, 181, 181);
  --water: rgb(164, 164, 253);
  --grass: rgb(131, 152, 131);
  --electric: rgb(255, 255, 188);
  --psychic: rgb(253, 210, 217);
  --ice: rgb(186, 249, 249);
  --dragon: rgb(255, 226, 171);
}

div[class~='normal-type'] {
  background-color: var(--normal);
}

div[class~='fighting-type'] {
  background-color: var(--fighting);
}

div[class~='flying-type'] {
  background-color: var(--flying);
}

div[class~='poison-type'] {
  background-color: var(--poison);
}

div[class~='ground-type'] {
  background-color: var(--ground);
}

div[class~='rock-type'] {
  background-color: var(--rock);
}

div[class~='bug-type'] {
  background-color: var(--bug);
}

div[class~='ghost-type'] {
  background-color: var(--ghost);
}

div[class~='fire-type'] {
  background-color: var(--fire);
}

div[class~='water-type'] {
  background-color: var(--water);
}

div[class~='grass-type'] {
  background-color: var(--grass);
}

div[class~='electric-type'] {
  background-color: var(--electric);
}

div[class~='psychic-type'] {
  background-color: var(--psychic);
}

div[class~='ice-type'] {
  background-color: var(--ice);
}

div[class~='dragon-type'] {
  background-color: var(--dragon);
}

.active-party {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 1000px;
  position: absolute;
  bottom: 10px;
  z-index: 4;
  margin-top: 20px;
}

.party-slot {
  height: 175px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  border: 20px rgba(255, 255, 255, 0.5) solid;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.party-slot:hover {
  cursor: pointer;
}

/* modal */
.pokemon-details-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.pokemon-details-section {
  flex: 1;
  padding: 5px;
  text-align: center;
  width: 330px;
  height: 320px;
}

.modal-content .pokemon-details-section img {
  width: auto;
  height: 200px;
  outline: none;
}
.modal-content .pokemon-details-section img:hover {
  cursor: default;
  outline: none;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-move {
  margin: 5px;
}

/* flipping */
.pokemon-details-section {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* badges */
.badges-case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 220px;
  right: 40px;
  width: 456px;
  border: 4px goldenrod solid;
  background-color: darkblue;
  border-radius: 16px;
  padding: 10px;
}

.badge {
  padding: 5px;
  margin: 5px;
}

.badge img.silhouette {
  filter: brightness(0);
  opacity: 0.5;
}