@charset "utf-8";

@import "@aws-amplify/ui-react/styles.css";
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"); */

@font-face {
  font-family: 'gameboy';
  src: url('../assets/fonts/PokemonGb.ttf') format('truetype');
}

:root {
  --amplify-fonts-default-variable: "Open Sans";
  --amplify-fonts-default-static: "Open Sans";
  --amplify-colors-brand-primary-10: var(--amplify-colors-blue-10);
  --amplify-colors-brand-primary-20: var(--amplify-colors-blue-20);
  --amplify-colors-brand-primary-40: var(--amplify-colors-blue-40);
  --amplify-colors-brand-primary-60: var(--amplify-colors-blue-60);
  --amplify-colors-brand-primary-80: var(--amplify-colors-blue-80);
  --amplify-colors-brand-primary-90: var(--amplify-colors-blue-90);
  --amplify-colors-brand-primary-100: var(--amplify-colors-blue-100);
  --amplify-colors-brand-secondary-10: var(--amplify-colors-neutral-10);
  --amplify-colors-brand-secondary-20: var(--amplify-colors-neutral-20);
  --amplify-colors-brand-secondary-40: var(--amplify-colors-neutral-40);
  --amplify-colors-brand-secondary-60: var(--amplify-colors-neutral-60);
  --amplify-colors-brand-secondary-80: var(--amplify-colors-neutral-80);
  --amplify-colors-brand-secondary-90: var(--amplify-colors-neutral-90);
  --amplify-colors-brand-secondary-100: var(--amplify-colors-neutral-100);
  --amplify-colors-radii-small: 0;
  --amplify-colors-radii-medium: 2px;
  --amplify-colors-radii-large: 4px;
  --amplify-colors-border-primary: var(--amplify-colors-neutral-40);
  --amplify-colors-border-secondary: var(--amplify-colors-neutral-20);
  --amplify-colors-border-tertiary: var(--amplify-colors-neutral-10);
  --amplify-colors-background-secondary: var(--amplify-colors-brand-primary-10);
  --amplify-components-tabs-item-border-color: var(--amplify-colors-neutral-60);

  --amplify-radii-small: 0;
  --amplify-radii-medium: 0;
  --amplify-radii-large: 0;
  --amplify-space-small: 1rem;
  --amplify-space-medium: 1.5rem;
  --amplify-space-large: 2rem;
  --amplify-border-widths-small: 2px;
  --amplify-border-widths-medium: 4px;
  --amplify-border-widths-large: 8px;

  --btn-width: 220px;
  --btn-height: 48px;
}

* {
  font-family: 'gameboy', sans-serif !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-amplify-router] {
  min-height: 500px;
  border-radius: 16px;
  max-width: 95%;
  margin: 0 auto;
}

[data-amplify-router] form button {
  border-radius: 8px;
}

[data-amplify-router] div div h3 {
  text-align: center;
  font-weight: 100;
}

h3.amplify-heading:hover,
label.amplify-label:hover,
p.amplify-text:hover {
  cursor: default;
}

.amplify-flex input:not([type="file"]) {
  border-radius: 8px;
}

.amplify-tabs__list--equal {
  width: 92%;
  margin: auto;
}

/* Gameboy specific styling */

html {
  margin: 0;
  padding: 0;
  font-family: 'gameboy', sans-serif !important;
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: left;
  direction: ltr;
  width: 100%;
  height: 100%;
  text-rendering: optimizeSpeed;
  overflow: hidden;
}

body {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 1s ease-in-out;
}

/* full screen */
#fullscreenContainer {
  display: none; /* Hidden by default */
  position: fixed; /* Or absolute, depending on layout */
  background-color: #282c34;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3; /* To ensure it's above other content */
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#fullscreen {
  width: 525px;
  height: calc(525px * (286 / 321));
  box-sizing: border-box;
  border-radius: 8px;
  border: 3px solid;
  margin: 0;
  position: absolute;
}

.mobile {
  display: none;
}

.rom-selector {
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px black solid;
  background-color: white;
  cursor: pointer;
  width: var(--btn-width);
  height: var(--btn-height);
  text-align: center;
  font-size: 12px;
}

.rom-selector:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

#active-game-title {
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px black solid;
  background-color: white;
  margin-bottom: 10px;
  width: var(--btn-width);
  height: var(--btn-height);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#active-game-title.null {
  background-color: gray;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  overflow-y: scroll;
}

.control-buttons button {
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px black solid;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: var(--btn-width);
  height: var(--btn-height);
  margin: auto 1em;
  font-size: 12px;
  transition: background-color 0.2s;
}

.control-buttons button:disabled,.speed-control:disabled {
  background-color: #ccc;
  cursor: initial;
}

.control-buttons button:hover:not(:disabled) {
  background-color: #0056b3;
}

.speed-control {
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px black solid;
  width: var(--btn-width);
  height: var(--btn-height);
  font-size: 18px;
  margin: auto 1em;
  text-align: center;
  cursor: pointer;
}


.toggle-handle {
  position: absolute;
  right: -50px; /* Adjust as needed */
  top: 90%;
  transform: translateY(-50%);
  width: 50px; /* Adjust width and height as needed */
  height: 50px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: smaller;
  outline: 1px white solid;
}

/* console */
.console-container {
  position: relative;
  width: 526px;
  height: calc(526px * (928/526));
  background-image: url('../assets/images/gameboy-bg.png');
  background-size: cover;
  border: 4px rgba(255, 255, 255, .5) solid;
  border-radius: 20px 20px 50% 50% / 48px 48px;
  transition: 500ms ease-in-out;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-zoom: none;
  -ms-user-zoom: none;
  -webkit-user-zoom: none;
  touch-action: manipulation;
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.menubar,
#GameBoy>#gfx {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.window {
  visibility: visible;
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  font-size: 12px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 5px 5px 10px rgb(30, 30, 30);
  box-shadow: 5px 5px 10px rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
  z-index: 2;
  opacity: 1;
}

#GameBoy {
  height: 286px;
  width: 321px;
  height: calc(321px * (286 / 321));
  top: 78px !important;
  left: 104px !important;
}

#gfx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  top: 3px;
  background-color: rgb(39, 39, 39);
  background-repeat: repeat-x;
  background-attachment: scroll;
}

#GameBoy>#gfx>canvas {
  position: absolute;
  z-index: 5;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#gfx+image {
  z-index: 1;
  padding: 0;
}

#on-light {
  position: absolute;
  background-color: red;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  top: 162px;
  left: 44px;
  opacity: 0;
  transition: 1s ease-out;
}
.gb-btn {
  position: absolute;
  opacity: 0.7;
}
.gb-btn:hover {
  cursor: pointer;
}
.gb-btn:active {
  opacity: 1;
}
#a-btn, #b-btn {
  border-radius: 50%;
  height: 61px;
  width: 61px;
  background-color: rgba(255, 255, 255, .1);
}
#a-btn, #b-btn:active {
  opacity: 0;
}
#a-btn {
  left: 423px;
  top: 558px;
}
#b-btn {
  left: 326px;
  top: 589px;
}
#start-btn, #select-btn {
  width: 46px;
  height: 17px;
  border-radius: 40%;
  top: 747px;
  margin: 3px;
  background-color: rgba(255, 255, 255, .1);
}
#start-btn, #select-btn:active {
  opacity: 0;
}
#select-btn {
  left: 197px;
}
#start-btn {
  left: 277px;
}
.joypad {
  position: absolute;
  top: 536px;
  left: 38px;
}
.joypad div:active {
  opacity: 0;
}
.joypad div {
  height: 45px;
  width: 49px;
  border-radius: 8px;
}
#up-btn {
  background: linear-gradient(180deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .0));
  top: 0;
  left: 44px;
}
#down-btn {
  background: linear-gradient(0deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .0));
  top: 90px;
  left: 44px;
}
#left-btn {
  background: linear-gradient(0deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .0));
  top: 44px;
  left: 0;
  transform: rotate(90deg)
}
#right-btn {
  background: linear-gradient(180deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .0));
  top: 44px;
  left: 90px;
  transform: rotate(90deg)
}

@media screen and (max-width: 400px) {
  .console-container {
    width: 100vw; /* 420px; */
    height: calc(100vw * (928/526));
    overflow: hidden;
    background-position: center;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .toggle-handle.opened {
    display: none;
  }
  .toggle-handle.collapsed {
    display: block;
  }
  .toggle-handle {
    right: -60px;
    top: 100%;
  }
  
  #GameBoy {
    left: 0 !important; 
    top: 60px !important; /* -9px !important; */
    width: 228px; /* 100vw !important; */
    height: calc(228px * (286 / 321)); /* calc(100vw * (286 / 321)) */
    position: relative;
    transition: 200ms all ease-in-out;
  }
  #GameBoy.zoom {
    top: 0 !important;
    width: 100vw;
    height: calc(100vw * (286 / 321));
  }

  #on-light {
    height: 10px;
    width: 10px;
    top: 17.3%;
    left: 7%;
  }
  .gb-btn {
    z-index: 6;
  }
  .a-b {
    height: calc(61px * 0.93);
    width: calc(61px * 0.93);
  }
  #a-btn {
    left: 78.5%;
    top: 59.5%;
  }
  #b-btn {
    left: 59.5%;
    top: 62.7%;
  }
  .st-sel {
    width: calc(46px * 0.93);
    height: calc(17px * 0.93);
    top: 80.5% !important;
  }
  #select-btn {
    left: 35%;
  }
  #start-btn {
    left: 50.5%;
  }
  .joypad {
    top: 56.5%;
    left: 2%;
  }
  .joypad div {
    height: 42px;
    width: 45px;
  }
  #down-btn {
    top: 80px;
  }
  #left-btn, #right-btn {
    top: 40px;
  }
  #left-btn {
    left: 5px;
  }
  #right-btn {
    left: 85px;
  }
}

/* loading */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height as needed */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid var(--med-blue); /* Use your primary color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
  margin-top: 20px;
}

.checkmark {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: black; /* Change color as needed */
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px black;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.hover-pointer {
  cursor: pointer;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
      transform: none;
  }
  50% {
      transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px black;
  }
}