.toggleButton {
    position: fixed;
    background-color: var(--amplify-colors-background-secondary);
    border: 1px solid var(--amplify-colors-border-primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    left: 20px;
    top: 20px;
}

.toggleButton:hover {
    background-color: var(--amplify-colors-background-tertiary);
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--amplify-colors-font-primary);
    transition: transform 0.2s ease-in-out;
}

/* Desktop specific styles */
.desktop {
    top: 10px;
}

/* Mobile specific styles */
.mobile {
    top: auto;
    bottom: 20px;
}

