.modalContent.locationModal {
    max-width: 800px;
    overflow-y: scroll;
}

.modalContent.locationModal img:hover {
    cursor: default;
    outline: 2px gray solid;
}

.mapLocDetails {
    width: 600px;
}

.mapLocDetails p {
    text-align: justify;
}

@media (max-width: 768px) {
    .modalContent.locationModal {
        max-width: 100%;
    }

    .mapLocDetails {
        width: 100%;
    }
}