.footerText {
  font-size: 0.9rem;
  color: #333;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  font-size: 0.7rem;
  position: relative;
  bottom: 0;
  height: 40px;
  z-index: 10;
  width: 100%;

}

.footerLinks {
  display: flex;
  gap: 1rem;
}

.footerLinks a {
  color: var(--link-color) !important;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

.footerCopyright {
  margin-left: 1rem;
  cursor: auto;
  color: var(--link-color) !important;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}